In [52]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
df = pd.read_csv('../class1/learningSet.csv')

C:\Users\Dmitr\AppData\Local\Temp\ipykernel_19284\3363558361.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./learningSet.csv')

In [54]:
nulls = pd.DataFrame(df.isna().sum()*100/len(df), columns=['percentage']) # Checking top 50 columns by null ammount in %
nulls.sort_values('percentage', ascending = False).head(50)

          percentage
RDATE_5    99.990567
RAMNT_5    99.990567
RDATE_3    99.746363
RAMNT_3    99.746363
RDATE_4    99.705488
RAMNT_4    99.705488
RAMNT_6    99.186685
RDATE_6    99.186685
RAMNT_15   92.388798
RDATE_15   92.388798
RDATE_23   91.763091
RAMNT_23   91.763091
RDATE_20   91.732696
RAMNT_20   91.732696
RAMNT_7    90.677273
RDATE_7    90.677273
RAMNT_17   90.146942
RDATE_17   90.146942
RDATE_21   90.029556
RAMNT_21   90.029556
RAMNT_10   89.035970
RDATE_10   89.035970
RDATE_13   87.160944
RAMNT_13   87.160944
NUMCHLD    87.018404
RDATE_11   84.551209
RAMNT_11   84.551209
RDATE_19   83.359535
RAMNT_19   83.359535
RAMNT_9    82.461326
RDATE_9    82.461326
RDATE_24   81.409047
RAMNT_24   81.409047
RAMNT_18   79.270951
RDATE_18   79.270951
RAMNT_22   78.123297
RDATE_22   78.123297
RAMNT_8    77.495493
RDATE_8    77.495493
RDATE_14   75.561774
RAMNT_14   75.561774
RAMNT_12   73.064185
RDATE_12   73.064185
RAMNT_16   71.707961
RDATE_16   71.707961
ADATE_15   68.625540
ADATE_23   58.975810
MBCOLECT   55.458433
MAGFAML    55.395548
MBCRAFT    55.395548

In [55]:
drop_list = [] # creating a list with columns ro remove

drop_list.append('OSOURCE')
drop_list.append('ZIP')

In [56]:
drop_list #current drop list

['OSOURCE', 'ZIP']

In [57]:
nulls_over_85 = list(nulls[nulls['percentage'] > 85].index) #creating a list with columns that have over 85% nulls
nulls_over_85

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23']

In [58]:
drop_list.extend(nulls_over_85) # extending current drop list with columns above

In [59]:
df1 = df.drop(columns=drop_list) # dropping columns from drop list and creating a new version (df1)

In [60]:
df1.shape

(95412, 454)

Below cleaning the "GENDER" column

In [65]:
print(df1['GENDER'].value_counts())
df1['GENDER'] = df1['GENDER'].fillna('F')

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64

In [66]:
df1['GENDER'] = df1['GENDER'].apply(lambda x: "other" if x != "F" and x != "M" else x) 
# bucketing all genders to 'other' if not in F or M

In [63]:
df1['GENDER'].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64